html,
body {
  padding: 0;
  margin: 0;
  background: #0e98da;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-family: Open Sans, sans-serif;
  font-size: 12px;
}

input,
button,
select {
  border: 0;
  outline: 0;
  padding: 4px;

  &:focus {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

h1,
h2 {
  padding: 0;
  margin: 0 0 8px 0;
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  margin: 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
  outline: 1px solid #fff;

  &>div>div {
    margin-bottom: 8px;
  }

  & .time-filters label {
    margin-right: 8px;
  }

  & .stats {
    outline: 1px solid #fff;
    display: table;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;

    & .header {
      font-weight: bold;
    }

    &>div {
      display: table-row;

      &>span {
        &:first-child {
          padding-right: 8px;
        }

        display: table-cell;
      }
    }
  }
}